@page
@model task.Pages.Departments.deptListModel
@{
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>


<body>
    <div class="">
        <div class="d-flex justify-content-between  align-items-center">
            <h1>Department List</h1>
            <a class="btn btn-primary" href="/Departments/addDept" role="button">Add Department</a>
        </div>

        @{
            Html.RenderPartialAsync("_Message");
        }

        <table class="table table-striped table-bordered" id="sortTable">
            <thead>
                <tr>
                    
                    <th>Department</th>
                    <th>Description</th>
                    <th>Created By</th>
                    <th>Updated By</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var emp in Model.DepartmentList)
                {
                    <tr>
                        <td>@emp.Name</td>
                        <td>@emp.Description</td>
                        <td>@emp.CreatedBy <br /> @emp.CreatedDate.ToString("MMM dd, yyyy")</td>
                        <td>@emp.UpdatedBy <br /> @emp.UpdatedDate.ToString("MMM dd, yyyy")</td>
                        <td>
                            <a href="/Departments/updateDept?id=@emp.Id"><i class="fas fa-edit"></i></a>
                            <a href="#." onclick="ShowDeleteConfirmation(@emp.Id)"><i class="fas fa-trash-alt"></i></a>
                        </td>


                    </tr>
                }

            </tbody>
        </table>
        <script>
            $('#sortTable').DataTable();
        </script>
    </div>
</body>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure, you want to procede ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" onclick="DeleteEmployee()">Yes</button>
            </div>
        </div>
    </div>
</div>

@section scripts
                        {
    <script type="text/javascript">

        var deleteID = 0;
        function ShowDeleteConfirmation(id) {
            deleteID = id;
            $('#exampleModal').modal('show');
        }

        function DeleteEmployee() {
            $('#exampleModal').modal('hide');
            document.location.href = "/Departments/deptList?handler=Delete&id=" + deleteID;
        }
    </script>
}